{
	"presets": [
		["@babel/preset-env", {
			"modules": false,
			"targets": {
				"node": "current",
				"browsers": "> 5%"
			},
			"useBuiltIns": "usage"
		}]
		, ["@babel/preset-stage-2", {
			"decoratorsLegacy": true,
		}]
	],
	"plugins": [
		"ramda",
		["@babel/plugin-transform-react-jsx", {
			"pragma": "h"
		}]
	],
	"env": {
		"test": {
			"presets": [
				["env",{
					"targets": {
						"node": "current",
						"browsers": "> 5%"
					},
					"useBuiltIns": "usage"
				}]
			]
			, "plugins": [
				"ramda",
				["@babel/plugin-transform-react-jsx", {
					"pragma": "h"
				}]
			]
		}
	}
}
